<!-- # -*- coding: utf-8 -*-
"""
Created on Thu Jan 24 16:24:28 2019

@author: thero
""" -->

<DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
        
    </head>
    
    <body>
        <h1>Rango says...</hi>
        
        <div>
            here is the about page. <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        
        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/mascot-about.jpg" %}"
                 alt="Picture of our mascot Rango" />
            <img src="{{MEDIA_URL}}cat.jpg"
                 alt="Rango's pet cat"/>
        </div>
    </body>
    
</html>